.Homebody{
    background: url("https://bing.img.run/uhd.php");
    background-size: cover;
}

.body{
    background: url("https://cdn.seovx.com/d/?mom=302");
    background-size: cover;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}